{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1>{{ title }}</h1>

<ul class="grid">
  {% for item in items %}
  <li class="card">
    <h2>#{{ item.rank }} - {{ item.team.name }}</h2>
    <p>Points: {{ item.points }}</p>
    <p>Played: {{ item.all.played }}</p>
    <p>Wins: {{ item.all.win }}</p>
    <p>Losses: {{ item.all.lose }}</p>
    <p>Draws: {{ item.all.draw }}</p>
  </li>
  {% endfor %}
</ul>

<ul>
  {% for question in questions %}
  <li class="card">
    <h2>{{ question.question }}</h2>
    <ul>
      {% for choice in question.choices %}
      <li>
        <strong>{{ choice.key }}:</strong> {{ choice.text }}
        {% if choice.correct %}
        ✅
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>


{% endblock %}
