<li class="card">
  <a href="/competitions/{{ league.id }}" class="button">Begin Quiz about {{ league.name }} </a>
  <div class="image-container">
    <img src="https://media.api-sports.io/football/leagues/{{ league.id }}.png" alt="{{ league.name }} logo" />
  </div>
  <div class="content">
    <h2>{{ league.name }}</h2>
    <h2>{{ league.description }}</h2>
    <h2>{{ league.funFact }}</h2>
  </div>
</li>
