<form id="quiz-form" action="/submit-quiz/{{ competitionId }}" method="POST">
  <div class="user-input">
    <label for="userName">Enter Your Name:</label>
    <input type="text" id="userName" name="userId" required />
  </div>

  <button id="startButton" type="button">Start Quiz</button>

  <div id="quiz-questions" class="hidden">
    {% for question in questions %}
    <div class="quiz-question question-block">
      <h2>{{ question.question }}</h2>
      {% for choice in question.choices %}
      <label class="choice-label">
        <input type="radio" name="question{{ question.questionID }}" value="{{ choice.text }}" />
        <span>{{ choice.text }}</span>
      </label>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <button id="nextButton" type="button" class="hidden">Next Question</button>
  <button type="submit" class="hidden">Submit</button>
</form>