{% for question in questions %}
<div class="question-block">
  <h2>{{ question.question }}</h2>
  <form>
    {% for choice in question.choices %}
    <div class="choice-label">
      <input type="radio" id="q{{ loop.parent.loop.index }}_{{ choice.id }}" name="question{{ loop.parent.loop.index }}"
        value="{{ choice.text }}">
      <label for="q{{ loop.parent.loop.index }}_{{ choice.id }}">
        {{ choice.text }}
      </label>
    </div>
    {% endfor %}
  </form>
</div>
{% endfor %}
